<div class="instructions">

	<div class="instructions-inner">

		<h2>CÓMO NAVEGAR EL SITIO</h2>
		
		<div class="container">

			<div class="col-xs-12 col-md-4">
				<img src="view/img/scroll.svg" alt="">
				<p>This experience is navigated by scrolling with your mouse or trackpad or by clicking and dragging.</p>
			</div>

			<div class="col-xs-12 col-md-4">
				<img src="view/img/headphone.png" alt="">
				<p>Turn up the volume and wear headphones for the optimum experience.</p>
			</div>

			<div class="col-xs-12 col-md-4">
				<img src="view/img/time.svg" alt="">
				<p>This experience takes approximately 12 minutes to complete.</p>
			</div>
			
		</div><!-- contanier -->

		<a  href="#/view2" class="button">Entiendo, quiero comenzar</button><!-- end ngIf: !$root.instDismissed -->

	</div>

</div>